.circle-card {
  text-align: center;
  flex: 1;
  min-width: 0; // Чтобы flex не переполнялся

  &__image-wrapper {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #E4E4E4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
    overflow: hidden;
    background: white;
  }

  &__image {
    width: 40%; 
    height: 40%; 
    object-fit: contain;
  }

  &__title {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 16px;
    color: #0f172a;
  }

  &__description {
    color: #475569;
    font-size: 0.875rem;
    line-height: 1.6;
  }

  &__line {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (max-width: 768px) {
    &__image-wrapper {
      width: 100px;
      height: 100px;
    }

    &__title {
      font-size: 1rem;
    }

    &__description {
      font-size: 0.8rem;
    }
  }
}